.chat-layout {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  background-color: #EFF1F2;
}

.chat-bubble {
	position: relative;
	border-radius: .4em;
  padding: 5% 5%;
}

.chat-bubble.-incoming {
  background: #FFFFFF;
}

.chat-bubble.-outgoing {
  background: #FF3008;
}

.threads-message.outgoing {
  position: absolute;
  right: 0;
}

.thread-from {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: inline-block;
}

.thread-from textarea {
  width: 70%;
}

.thread-from button {
  font-size: 20px;
  color: blue;
}
