* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

.layout-body {
  width: 100%;
  height: 100vh;
}

.layout-body.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* offset content */

.offset.-small {
  margin-top: 1em;
}

/* buttons */

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 0.75em 1.25em;
  border-radius: 0;
}

.btn.-full {
  font-size: 1rem;
  width: 100%;
  border-radius: 3px;
}

.btn.-fire-red {
  color: #ffffff;
  background-color: #FF3008;
}

/* oh gosh, button-links */

.btn.-link {
  text-align: center;
  text-decoration: none;
}
